CONFIG_BT_ENABLED=y
CONFIG_BT_NIMBLE_ENABLED=y
CONFIG_BT_NIMBLE_MAX_CONNECTIONS=1
CONFIG_BT_NIMBLE_MAX_SERVICES=5
CONFIG_BT_NIMBLE_MAX_CHRC_DEFS=15
CONFIG_BT_NIMBLE_SVC_GAP_DEVICE_NAME="ESP32-S3-OSSIC"
CONFIG_BT_NIMBLE_LOG_LEVEL_INFO=y
